doctype html
html
    head
        meta(name="description", content="Candidate Clicker - Click the Candidates")
        meta(property="fb:app_id", content="238260666543017")
        meta(property="og:url", content="http://candidateclicker.com")
        meta(property="og:title", content="Candidate Clicker")
        meta(property="og:description", content="Click the Candidates")
        meta(property="og:site_name", content="Candidate Clicker")
        meta(property="og:type", content="website")
        meta(property="og:image", content="http://candidateclicker.com/static/images/ogimage.png")
        meta(property="og:image:type", content="image/png")
        meta(property="og:image:width", content="1200")
        meta(property="og:image:height", content="630")
        
        title Candidate Clicker - Click the Candidates
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="icon", href="/static/images/favicon.png", type="image/png")
        link(rel="stylesheet", href="/static/build/styles.css")    
    body
        #wrapper
            header
                h1.
                    Candidate Clicker
                h2.
                    Click the Candidates
            main#candidates
                each candidate in candidates
                    figure.candidate
                        img(
                            alt=candidate.name,
                            src=candidate.src,
                            height=candidate.height,
                            width=candidate.width
                        )
                        figcaption
                            h3.candidate-name !{candidate.name}
                            span.candidate-clicks !{candidate.clicks}
            footer.
                &copy; !{year} <a href="mailto:candidateclicker@gmail.com" target="_blank">CC</a>
        script(async, src="/static/build/index.js")
        script(async, src="//www.google-analytics.com/analytics.js")
